.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  width: 100%;
  max-width: 40rem;
}

.header {
  padding: 0 0.5rem;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
  max-width: 50rem;
  margin: 2rem auto;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.arrows span {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  transition: 0.2s ease;
}

.arrows span:hover {
  background: rgba(0, 0, 0, 0.1);
}

.board {
  width: 90vh;
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(19, 1fr);
  position: relative;
  cursor: pointer;
  background-color: #e9e0db;
}

.square {
  position: relative;
  transition: 0.2s ease;
  border-radius: 50%;
}

.square:hover {
  background: rgba(0, 0, 0, 0.1);
}

.verticalLine {
  width: 50%;
  height: 100%;
  border-right: 1px solid #ccc;
}

.horizontalLine {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50%;
  border-bottom: 1px solid #ccc;
}

.black {
  background: black;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  z-index: 2;
}

.white {
  background: white;
  border: 1px solid #ddd;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  z-index: 2;
}

@media (max-width: 800px) {
  .board {
    width: 100vw;
    height: 100vw;
  }

  .black,
  .white {
    width: 1.2rem;
    height: 1.2rem;
    top: calc(50% - 0.6rem);
    left: calc(50% - 0.6rem);
  }
}
