html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: #D6E2E3;
    color: #252328;
}

a {
  color: inherit;
  text-decoration: none;
  color: #BE5C97;
}

p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  margin: 1rem 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-family: 'Crimson Text', serif;
  letter-spacing: 1px;
}

h1 {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  letter-spacing: 1px;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav h2 {
    font-size: 3rem;
    margin: 0px;
}

.links {
  display: flex;
}

.links a {
  margin-left: 2rem;
  color: #1421A3;
}

.ingredients {
  font-weight: 500;
}